<div class="ten wide column ">


<div class="ui black segment" style="background:rgba(256,256,256,0.4)">
  <div class="ui basic segment">
      <h2 class="ui header"> Projects Running</h2>
      <table class="ui very basic table">
      <thead>
        <tr>
          <th>Sl.No</th>
          <th>Project</th>
          <th>Started Date</th>
          <th>Due Date</th>
          <th>Status</th>
          <th>Customer</th>
          <th>Agent</th>

          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Project A</td>
          <td>1/2/2016</td>
          <td>2/3/2016</td>
          <td>Started</td>
          <td>Customer A</td>
          <td>Agent A</td>

<a id="ember514" href="/dashboard/projects/sdsdd/home" class="ember-view">          <td><button class="mini blue ui button">Open</button></td>
</a>        </tr>
        <tr>
          <td>2</td>
          <td>Project B</td>
          <td>12/2/2016</td>
          <td>5/3/2016</td>
          <td>Started</td>
          <td>Customer C</td>
          <td>Agent B</td>

<a id="ember531" href="/dashboard/projects/sdsdd/home" class="ember-view">          <td><button class="mini blue ui button">Open</button></td>
</a>        </tr>
      </tbody>
    </table>
    </div>
</div>
<div class="ui black segment" style="background:rgba(256,256,256,0.4)">
  <div class="ui basic segment">
      <h2 class="ui header"> Projects Processing</h2>
      <table class="ui very basic table">
      <thead>
        <tr>
          <th>Sl.No</th>
          <th>Project</th>
          <th>Started Date</th>
          <th>Due Date</th>
          <th>Status</th>
          <th>Customer</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Project A</td>
          <td>1/2/2016</td>
          <td>2/3/2016</td>
          <td>Started</td>
          <td>Customer A</td>
<a id="ember514" href="/dashboard/projects/sdsdd/home" class="ember-view">          <td><button class="mini blue ui button">Open</button></td>
</a>        </tr>
        <tr>
          <td>2</td>
          <td>Project B</td>
          <td>12/2/2016</td>
          <td>5/3/2016</td>
          <td>Started</td>
          <td>Customer C</td>
<a id="ember531" href="/dashboard/projects/sdsdd/home" class="ember-view">          <td><button class="mini blue ui button">Open</button></td>
</a>        </tr>
      </tbody>
    </table>
    </div>
</div>
</div>

{{outlet}}
