<div class="ten wide column ">


<div class="ui black segment" style="background:rgba(256,256,256,0.4)">
  <h2 class="ui header">Running Projects Status</h2>
<table class="ui very basic collapsing celled table">
  <thead>
    <tr><th style="width:91% ">Projects</th>
    <th>Status</th>

  </tr></thead>
  <tbody>
    {{#each projects as |project|}}
    <tr>
      <td>
        {{#link-to 'dashboard.projects.project.home' project.id}}
        <h4 class="ui image header"><div class="content">{{project.name}}</div></h4>
        {{/link-to}}
    </td>
      <td>
        {{project.status}}
      </td>
    </tr>
{{/each}}
  </tbody>
</table>
</div>
</div>

{{outlet}}
