<div class="ten wide column ">


<div class="ui black segment" style="background:rgba(256,256,256,0.4)">
  <h2 class="ui header">Running Projects Status</h2>
<table class="ui very basic collapsing celled table">
  <thead>
    <tr><th style="width:91% ">Projects</th>
    <th>Stauts</th>

  </tr></thead>
  <tbody>
    <tr>
      <td>
        <h4 class="ui image header"><div class="content">Project A</div></h4>
    </td>
      <td>
        Started
      </td>
    </tr>
    <tr>
      <td>
        <h4 class="ui image header"><div class="content">Project B</div></h4>
      </td>
      <td>
        Delayed
      </td>
    </tr>
    <tr>
      <td>
        <h4 class="ui image header">
          <div class="content">Project C</div></h4></td>
      <td>
        Started
      </td>
    </tr>

  </tbody>
</table>
</div>
</div>

{{outlet}}
