<div class="twelve wide column">
  <div class="ui black segment"style="background: rgba(256,256,256,0.6)">
    <div class="ui basic right aligned segment">
      {{#link-to 'dashboard.customers.new'}}
      <div class="ui blue basic button">
        <i class="add user icon"></i>
        Add New customer
        </div>
          {{/link-to}}
  </div>
  <div class="ui stackable grid">
  <div class="eight wide column">
    <div class="ui blue segment">
      <div>
        <div class="ui  form">
          <!-- <div class="ui info message">
            <div class="header">We had some issues</div>
            <ul class="list">
              <li>Please enter your first name</li>
              <li>Please enter your last name</li>
            </ul>
                    </div> -->

                    <div class="two fields">
          <div class="field">
            <label>First Name :</label>
              <label><h4>{{agent.name}}</h4></label>
              </div>
          </div>


                  <button class="ui primary button" >
        Save
      </button>
      <button class="ui button">
        Discard
      </button>


          <!-- <div class="inline field">
            <div class="ui checkbox">
              <input type="checkbox">
              <label>I agree to the terms and conditions</label>
            </div>
          </div> -->
          <!-- <div class="ui blue submit button">Submit</div> -->
        </div>
      </div>
    </div>
  </div>

    <div class="eight wide column">
      <div class="ui blue segment con-scrol">
        <h3> Projects</h3>
        <div class="ui top aligned celled list">

          {{#each agent.projects as |project|}}
          <div class="item">
            <div class="right floated content">
              <!-- <div class="ui blue button">Open Project</div> -->

              {{#link-to 'dashboard.projects.project.home' project}}
              <td><button class="mini blue ui button">Open Project</button></td>
              {{/link-to}}
            </div>
            <img class="ui avatar image" src="/images/pro.png">
            <div class="content">
              <div class="header">{{project.name}}</div>
              {{project.status}}
              </div>
          </div>
          {{/each}}



        </div>
      </div>
    </div>

    </div>

</div>

</div>

{{outlet}}
