
<div class="two wide column">
<div class="ui vertical inverted green   labeled icon menu" style="background: rgba(34,146,167,0.6)">

  {{#link-to  'dashboard.projects.home.cur-home' class="item" }}
    <i class="home icon"></i>
    Home
    {{/link-to}}

  {{#link-to  'dashboard.projects.home.cur-projects' class="item" }}
    <i class="file icon"></i>
    Projects
    {{/link-to}}

    {{#link-to  'dashboard.projects.home.cur-enqs' class="item" }}
    <i class="file icon"></i>
    Enquiries
    {{/link-to}}

    {{#link-to  'dashboard.projects.home.cur-qtns' class="item" }}
    <i class="file outline icon"></i>
    Quotations
    {{/link-to}}


<!--
    {{#link-to  'dashboard.projects.home.cur-pendingprojrct' class="item" }}
    <i class="file outline icon"></i>
    Pending Project
    {{/link-to}}

  -->

    {{! Removed bcoz not necessary}}
    <!-- {{#link-to  'dashboard.projects.home.cur-customers' class="item" }}
    <i class="users icon"></i>
    Customers
    {{/link-to}}
    {{#link-to  'dashboard.projects.home.cur-agents' class="item" }}
    <i class="users icon"></i>
    Agents
    {{/link-to}} -->

</div>
</div>
{{outlet}}


 <!--
<div class="ui top attached tabular menu">
  <a class="item active" data-tab="first">Projects</a>
  <a class="item" data-tab="second">Enquiries</a>
  <a class="item " data-tab="third">Quotations</a>
  <a class="item " data-tab="fourth">Customers</a>
  <a class="item " data-tab="fifth">Agents</a>


</div>
<div class="ui bottom attached active tab segment" data-tab="first" style="background: rgba(256,256,256,0.6)">
<div class="ui grid">
  <div class="eight wide column">
    <div class="ui basic segment">
      <h2 class="ui header">Current Projects</h2>
      <table class="ui very basic table">
      <thead>
        <tr>
          <th>Sl.No</th>
          <th>Project</th>
          <th>Started Date</th>
          <th>Due Date</th>
          <th>Status</th>
          <th>Customer</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Project A</td>
          <td>1/2/2016</td>
          <td>2/3/2016</td>
          <td>Started</td>
          <td>Customer A</td>
          {{#link-to  'dashboard.projects.project.home' 'sdsdd' }}
          <td><button class="mini blue ui button">Open</button></td>
          {{/link-to}}
        </tr>
        <tr>
          <td>2</td>
          <td>Project B</td>
          <td>12/2/2016</td>
          <td>5/3/2016</td>
          <td>Started</td>
          <td>Customer C</td>
          {{#link-to  'dashboard.projects.project.home' 'sdsdd' }}
          <td><button class="mini blue ui button">Open</button></td>
          {{/link-to}}
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  <div class="eight wide column">
    <div class="ui basic segment">
      <h2 class="ui header">Pending Projects</h2>
      <table class="ui very basic table">
      <thead>
        <tr>
          <th>Sl.No</th>
          <th>Project</th>
          <th>Added Date</th>
          <th>Status</th>
          <th>Agent</th>
          <th>Customer</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Project A</td>
          <td>1/3/2016</td>
          <td>OG Approval</td>
          <td>Agent D </td>
          <td>Customer A</td>
          {{#link-to  'dashboard.projects.project.home' 'sdsdd' }}
          <td><button class="mini blue ui button">Open</button></td>
          {{/link-to}}
        </tr>
        <tr>
          <td>2</td>
          <td>Project B</td>
          <td>29/2/2016</td>
          <td>PS approval</td>
          <td>Agent C</td>
          <td>Customer B</td>
          {{#link-to  'dashboard.projects.project.home' 'sdsdd' }}
          <td><button class="mini blue ui button">Open</button></td>
          {{/link-to}}
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
</div>

<div class="ui bottom attached tab segment" data-tab="second"style="background: rgba(256,256,256,0.7)">
  <div class="ui basic segment">
    <h2 class="ui header">Current Projects Enquiries</h2>
    <table class="ui very basic table">
    <thead>
      <tr>
        <th>Sl.No</th>
        <th>Project</th>
        <th>Started Date</th>
        <th>Due Date</th>
        <th>Status</th>
        <th>Customer</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Project A</td>
        <td>1/2/2016</td>
        <td>2/3/2016</td>
        <td>Started</td>
        <td>Customer A</td>
        {{#link-to  'dashboard.projects.project.home' 'sdsdd' }}
        <td><button class="mini blue ui button">Open</button></td>
        {{/link-to}}
      </tr>
      <tr>
        <td>2</td>
        <td>Project B</td>
        <td>12/2/2016</td>
        <td>5/3/2016</td>
        <td>Started</td>
        <td>Customer C</td>
        {{#link-to  'dashboard.projects.project.home' 'sdsdd' }}
        <td><button class="mini blue ui button">Open</button></td>
        {{/link-to}}
      </tr>
    </tbody>
  </table>
  </div>
</div>
<div class="ui bottom attached tab segment " data-tab="third"style="background: rgba(256,256,256,0.7)">
  <div class="ui basic segment">
    <h2 class="ui header">Current Projects Quotations</h2>
    <table class="ui very basic table">
    <thead>
      <tr>
        <th>Sl.No</th>
        <th>Project</th>
        <th>Started Date</th>
        <th>Due Date</th>
        <th>Status</th>
        <th>Customer</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Project A</td>
        <td>1/2/2016</td>
        <td>2/3/2016</td>
        <td>Started</td>
        <td>Customer A</td>
        {{#link-to  'dashboard.projects.project.home' 'sdsdd' }}
        <td><button class="mini blue ui button">Open</button></td>
        {{/link-to}}
      </tr>
      <tr>
        <td>2</td>
        <td>Project B</td>
        <td>12/2/2016</td>
        <td>5/3/2016</td>
        <td>Started</td>
        <td>Customer C</td>
        {{#link-to  'dashboard.projects.project.home' 'sdsdd' }}
        <td><button class="mini blue ui button">Open</button></td>
        {{/link-to}}
      </tr>
    </tbody>
  </table>
  </div>
</div>
<div class="ui bottom attached tab segment " data-tab="fourth"style="background: rgba(256,256,256,0.7)">

</div>
<div class="ui bottom attached tab segment " data-tab="fifth"style="background: rgba(256,256,256,0.7)">

</div> -->
