
<div class="eight wide column">
  <div class="ui black segment">
    <h2 class="ui header">Current Projects</h2>
    <div class="ui celled list">
  <div class="item">
    {{#link-to  'dashboard.projects.project.home' 'sdsdd' }}

    <div class="content">
      <div class="header">Snickerdoodle</div>
      Started at 5/2/2016____Due Date :15/3/2016
    </div>
    {{/link-to}}

  </div>
  <div class="item">
     <div class="content">
      <div class="header">Poodle</div>
      A poodle, its pretty basic
    </div>
  </div>
  <div class="item">
     <div class="content">
      <div class="header">Paulo</div>
      He's also a dog
    </div>
  </div>
</div>
  </div>
</div>

<div class="eight wide column">
  <div class="ui black segment">
  </div>
</div>
