

<div class="sixteen wide column">
  <div class="ui black segment"style="background: rgba(256,256,256,0.6)">
    <h2 class="ui  header"> Add New Project</h2>
    <div class="ui divider"></div>

    <form class="ui form">
  <div class="field">
    <label>Project Name</label>
    {{input type="text" value=name placeholder="Project Name" }}

  </div>

      <div class="ui black small submit button {{isCreateProjectButtonDisabled}}" {{action "createProject"}}>Add Project</div>
</form>
</div>
</div>

{{outlet}}
