<div class="two wide column">
<div class="ui vertical  labeled icon menu">
  {{#link-to  'dashboard.projects.project.home' class="item" }}
    <i class="home icon"></i>
    Home
    {{/link-to}}
    {{#link-to  'dashboard.projects.project.enquiry-form' class="item" }}
    <i class="file icon"></i>
    Enquiry Form
    {{/link-to}}
    {{#link-to  'dashboard.projects.project.quotation-form' class="item" }}
    <i class="file outline icon"></i>
    Quotation Form
    {{/link-to}}
  {{#link-to  'dashboard.projects.project.job' class="item" }}
    <i class="star icon"></i>
    Site Details
    {{/link-to}}
  {{#link-to  'dashboard.projects.project.design' class="item" }}
    <i class="star icon"></i>
    Job Details
    {{/link-to}}

</div>
</div>

{{outlet}}
