<div class="ui stackable grid">
<div class="four wide column">
  <div class="ui black segment"style="background: rgba(256,256,256,0.6)">
    <div class="content ">
      <div class="header"> <h2 class="ui header"> Customers</h2></div>
      <div class="ui action fluid input">
        {{input type="text" placeholder="Search..." value=searchTerm }}
        <button class="ui icon button">
          <i class="search icon"></i>
        </button>
      </div>
<div class="con-scrol">
  <div class="ui middle aligned divided list">
{{#each matchingCustomers as |customer|}}
    <div class="item">
      <img class="ui avatar image" src="/images/user.png">
      <div class="content">
        {{#link-to  'dashboard.customers.customer' customer }}
        <a class="header">{{customer.name}}</a>
        {{/link-to}}
      </div>
    </div>
    {{/each}}
  </div>
</div>

</div>
  </div>
</div>
{{outlet}}

</div>
