<div class="login-box" style="padding: 100px 100px">
  <h1 class="ui header center aligned"> SIGNLAB</h1>
  <div class="ui segment basic">
<div class="ui three column grid center aligned ">
<div class="column">
  {{#link-to  'dashboard' }}

  <div class="ui segment">
  <h3>PROJECTS</h3>
  </div>
  {{/link-to}}
</div>
<div class="column">
  <div class="ui segment ">
    <a class="ui fluid big grey button">ACCOUNTS</a>
  </div>
</div>
<div class="column">
  <div class="ui segment ">
    <a class="ui fluid big black button">PROCUREMENT PROCESS </a>
  </div>
</div>
<div class="column">
  <div class="ui segment ">
    <a class="ui fluid big grey button">INVENTORY</a>
  </div>
</div>
<div class="column">
  <div class="ui segment ">
    <a class="ui fluid big black   button">HUMAN RESOURCE</a>
  </div>
</div>

</div>

      <!-- <div class="ui field"style="padding-top:10px">
      </div>
      <div class="ui field"style="padding-top:10px">
      </div>
      <div class="ui field"style="padding-top:10px">
      </div>
      <div class="ui field"style="padding-top:10px">
      <a class="ui fluid big black   button">HUMAN RESOURCE</a>
      </div> -->


</div>
</div>


{{outlet}}
