<div class="login-box" style="padding: 100px 420px 0px 420px">
  <h1 class="ui header center aligned"> SIGNLAB</h1>
  <div class="ui segment basic">
          <div class="ui field"style="padding-top:10px">
            {{#link-to  'dashboard' }}
      <a class="ui fluid big black button">PROJECTS</a>
      {{/link-to}}
      </div>
      <div class="ui field"style="padding-top:10px">
      <a class="ui fluid big grey button">ACCOUNTS</a>
      </div>
      <div class="ui field"style="padding-top:10px">
      <a class="ui fluid big black button">PROCUREMENT PROCESS </a>
      </div>
      <div class="ui field"style="padding-top:10px">
      <a class="ui fluid big grey button">INVENTORY</a>
      </div>
      <div class="ui field"style="padding-top:10px">
      <a class="ui fluid big black   button">HUMAN RESOURCE</a>
      </div>


</div>
</div>


{{outlet}}
