<div class="login-box" style="padding: 150px 420px 0px 420px">
  <h1 class="ui header center aligned"> SIGNLAB</h1>
  <div class="ui segment blue"style="background: rgba(256,256,256,0.6)">
    <h3 class="ui header  "> Log In</h3>
    <div class="ui small form segment">
      <div class="field">
        <label>User Name</label>
        {{input type="text" value=email placeholder="E-mail address"}}
      </div>
      <div class="field">
        <label>Password</label>
        {{input type="password" value=password placeholder="Password"}}
      </div>
      {{#link-to  'hub' }}
      <div class="ui blue small submit button" {{action "authenticate" disabled=isLoginButtonDisabled}}>Login</div>
    {{/link-to}}
  </div>
</div>
</div>
{{outlet}}
