<div class="seven wide column">
    <div class="ui segment black">
      <div class="enq-form" style=" max-height: 440px;overflow: auto; padding-right: 10px">
      <h2 class="ui header">Design Details</h2>
          <div class="ui segment black">
            <div class="ui top attached label"><h3 class="ui header">Item 1</h3></div>
            <div class="ui form">

            <div class="field"><label>Design Specifications</label><input type="text"></div>
            <div class="field"><label>Design Notes:</label><input type="text"></div>
            <div class="field">
            <h4 class=" ui  header ">Upload Design Files</h4>
            <button class="mini primary   ui button"><i class="upload icon"></i>Choose File</button>
            <div class="ui divider"></div>

            <div class="ui three column grid">
              <div class="column"><div class="ui segment"><img></div></div>
              <div class="column"><div class="ui segment"><img></div></div>
              <div class="column"><div class="ui segment"><img></div></div>
            </div>
          </div>
          </div>
        </div>
        <div class="ui segment black">
          <div class="ui top attached label"><h3 class="ui header">Item 1</h3></div>
          <div class="ui form">

          <div class="field"><label>Design Specifications</label><input type="text"></div>
          <div class="field"><label>Design Notes:</label><input type="text"></div>
          <div class="field">
          <h4 class=" ui  header ">Upload Design Files</h4>
          <button class="mini primary   ui button"><i class="upload icon"></i>Choose File</button>
          <div class="ui divider"></div>

          <div class="ui three column grid">
            <div class="column"><div class="ui segment"><img></div></div>
            <div class="column"><div class="ui segment"><img></div></div>
            <div class="column"><div class="ui segment"><img></div></div>
          </div>
        </div>
        </div>
      </div>
              </div>
   </div>
</div>
<div class="seven wide column">
    <div class="ui segment black">

  </div>
</div>

{{outlet}}
