<div class="twelve wide column">
    <div class="ui segment black">
      <div class="enq-form" style=" max-height: 440px;overflow: auto; padding-right: 10px">
       <h2 class="ui center dividing aligned header" >Enquiry Form </h2>
       <form class="ui form">
  <div class=" eight wide field">
    <h4 class="ui  header">Project Name</h4>


        <input type="text" name="shipping[first-name]" placeholder="First Name">
  </div>
  <div class="ui divider"></div>

  <div class="inline fields">
    <div class="twelve wide field"><label>Customer</label>
      {{ember-selectize
      content=customers
      optionValuePath="content.id"
      optionLabelPath="content.name"
      selection=project.customer
      placeholder="Select a Customer" }}
    </div>
  </div>
  <div class="inline fields">
    <div class="twelve wide field">
      <label>Agent</label>
      {{ember-selectize
      content=agents
      optionValuePath="content.id"
      optionLabelPath="content.name"
      selection=project.agent
      placeholder="Select a Agent" }}
    </div>
  </div>
  <div class="inline fields">
    <div class="fourteen wide field">
      <label>Date</label>
      <input type="text" placeholder="Date">
    </div>

  </div>
</form>
<div class="ui segment black">
  <h4 class="ui  header">Items</h4>
  <div class="ui segment black">
    <h5 class="ui left floated header">Item 1</h5>
      <button class="ui secondary mini right floated button">Remove Item</button>
      <div class="ui form">
  <div class="inline field">
    <label>Last name</label>
    <input type="text" placeholder="Full Name">
  </div>
</div>


  </div>
</div>
</div>
</div>
</div>

{{outlet}}
