<div class="eleven wide column">
    <div class="ui segment black">
      <div class="enq-form" style=" max-height: 440px;overflow: auto; padding-right: 10px">
       <h2 class="ui center dividing aligned header" >Quotation Form </h2>
       <form class="ui form">
         <div class="inline fields">
           <div class="fourteen wide field">
             <label>Date</label>
             <input type="text" placeholder="Date">
           </div>

         </div>
  <div class="ui divider"></div>

  <div class="inline fields">
    <div class="fourteen wide field">
      <label>Subject</label>
      <input type="text" placeholder=" Subject">
    </div>

  </div>
  <div class="inline fields">
    <div class="fourteen wide field">
      <label>Body</label>
      <textarea rows="2" style="margin-top: 0px; margin-bottom: 0px; height: 95px;"placeholder=" Body">
      </textarea>
    </div>

  </div>

</form>
<div class="ui segment basic">

<table class="ui celled inverted table">
  <thead>
    <tr>
      <th>Sl.No</th>
      <th>Scope of Work</th>
      <th>Unit</th>
      <th>Rate</th>
      <th>Amount</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Dimensios: 200x140</td>
      <td ><div class="ui mini  input"><input type="text" placeholder=" "></div></td>
      <td ><div class="ui mini  input"><input type="text" placeholder=" "></div></td>
      <td ><div class="ui mini  input"><input type="text" placeholder=" "></div></td>
    </tr>
    <tr >
      <td>2</td>
      <td> Dimensios: 100x150</td>
      <td ><div class="ui mini  input"><input type="text" placeholder=" "></div></td>
      <td ><div class="ui mini  input"><input type="text" placeholder=" "></div></td>
      <td ><div class="ui mini  input"><input type="text" placeholder=" "></div></td>
    </tr>

  </tbody>
</table>
</div>
<div class="ui segment basic">

<div class="ui secondary segment ">
  <div class="ui form">
    <div class="field"><label>Payment:</label><input type="text"></div>
    <div class="field"><label>Delivery:</label><input type="text"></div>
    <div class="field"><label>Power:</label><input type="text"></div>
    <div class="field"><label>Store:</label><input type="text"></div>
    <div class="field"><label>Note:</label><input type="text"></div>

  </div>
</div>

</div>
</div>
</div>
</div>
<div class="three wide column">
  <div class="ui black segment" style="background: rgba(256,256,256,0.7)">
    <button class="ui blue fluid  button" style="margin-bottom:10px" ><i class="save icon"></i>Save</button>
    <button class="ui blue fluid button" style="margin-bottom:10px" ><i class="print icon"></i>Print</button>
    <button class="ui blue fluid  button" >Forward to OM/GM </button>
    <div class="ui divider"></div>
    <button class="ui blue fluid  button" style="margin-bottom:10px" ><i class="checkmark icon"></i>Approve</button>
    <button class="ui blue fluid button" style="margin-bottom:10px" ><i class="remove icon"></i>Reject</button>
    <button class="ui blue fluid button"><i class="angle double right icon"></i>Forward to IS/PS</button>
    <div class="ui divider"></div>
    <button class="ui blue fluid  button" style="margin-bottom:10px" ><i class="checkmark icon"></i>Approve</button>
    <button class="ui blue fluid button" style="margin-bottom:10px" ><i class="remove icon"></i>Reject</button>
    <div class="ui divider"></div>
    <button class="ui blue fluid button"><i class="print icon"></i>Start Project</button>

</div>
</div>



{{outlet}}
